<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">FastFood</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" asp-area=""  asp-controller="Home" asp-action="Index">Trang chủ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area=""  asp-controller="GioHangs" asp-action="Index">Giỏ hàng</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="DonHangs" asp-action="Index">Đơn hàng</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="KhachHangs" asp-action="Index">Khách hàng</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="NhanViens" asp-action="Index">Nhân viên</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="DanhMucs" asp-action="Index">Danh mục</a>
            </li>
            @if (Context.Session.GetString("UserRole") == "Admin")
            {
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Dashboard">Quản trị</a>
                </li>
            }
        </ul>
    </div>
    <div class="d-flex">
        @if (Context.Session.GetInt32("UserId") != null)
        {
            <span class="navbar-text">Xin chào!</span>
            <a class="btn btn-link" asp-area="" asp-controller="Account" asp-action="Logout">Đăng xuất</a>
        }
        else
        {
            <a class="btn btn-link" asp-area="" asp-controller="Account" asp-action="Login">Đăng nhập</a>
        }
    </div>
</nav>