﻿@{
    ViewData["Title"] = "Thông tin nhóm";
}

<div class="alert alert-info">
    <h1>@ViewData["Title"]</h1>
    <hr />
    <p>Họ và tên thành viên: Nông Văn Hưng</p>
    <p>Họ và tên thành viên: ngyễn Văn Kiên</p>
    <p>Họ và tên thành viên: Nguyễn Văn Sơn</p>
    <p>Lớp: K23CNT2</p>
    <p>Chủ Đề: Web bán đồ ăn nhanh.</p>
</div>